<section class="container content">
  <div class="showUp">
    <h1>Encontre sua carona.</h1>
  </div>

  <div class="container-grid" *ngIf="lifts.length > 0">
    <app-item-lista *ngFor="let lift of lifts" [lift]="lift"></app-item-lista>
  </div>

  <div class="lifts-empty showBottom" *ngIf="lifts.length == 0">
    <p>Nenhuma carona disponível no momento, crie uma agora mesmo!</p>

    <div class="create-lift">
      <button class="primary-button" (click)="offerLift()">
        {{ localService.userIsDriver ? "Oferecer carona" : "Solicitar carona" }}
      </button>
    </div>
  </div>
</section>
