:host {
  .call {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    background: var(--blue-primary-color);

    .call-img {
      margin-bottom: 40px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    h1 {
      font-size: 9rem;
      color: var(--blue-primary-color);
    }

    h3 {
      font-size: 3rem;
    }

    @media (max-width: 900px) {
      display: none;
    }
  }

  .account-container {
    display: flex;
    width: 100%;
    gap: 15px;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    height: 100%;
  }

  .account {
    background-color: var(--primary-color);
    padding: 40px;
    border-radius: 15px;
    width: 70%;
    // box-shadow: var(--shadow);
    display: flex;
    flex-direction: row;
    gap: 20px;

    @media (max-width: 1200px) {
      flex-direction: column;
    }

    @media (max-width: 700px) {
      width: 100%;
    }

    @media (max-width: 500px) {
      padding: 0px;
    }

    form {
      width: 100%;
    }

    .title-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: center;

      mat-icon {
        font-size: 40px;
        height: 40px;
        width: 40px;
        color: var(--blue-primary-color)
      }

      .login-title {
        font-size: 3rem;
        text-align: left;
        width: 80%;
        display: flex;
        align-items: center;

        @media (max-width: 1200px) {
          width: 100%;
        }

        @media (max-width: 700px) {
          font-size: 2rem;
        }
      }
    }

    .actions-form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .dont-have-account {
        cursor: pointer;
        font-size: .9rem;
      }
    }
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .type-user {
    margin-bottom: 20px;
  }
}