<section class="container h-100">
  <div class="account-container">
    <div class="account">
      <div class="title-container showBottom">
        <mat-icon>directions_car</mat-icon>
        <h1 class="login-title">Faça o cadastro do veículo.</h1>
      </div>

      <form [formGroup]="form" class="showUp">
        <div class="input-box">
          <mat-form-field appearance="outline">
            <mat-label>Modelo</mat-label>
            <input matInput formControlName="model" maxlength="50" />
            <mat-icon matSuffix>directions_car</mat-icon>
            <mat-error [errorValidators]="returnControl('name')"> </mat-error>
          </mat-form-field>
        </div>
        <div class="input-box">
          <mat-form-field appearance="outline">
            <mat-label>Placa</mat-label>
            <input matInput formControlName="license_plate" maxlength="7" />
            <mat-icon matSuffix>license</mat-icon>
            <mat-error [errorValidators]="returnControl('license_plate')">
            </mat-error>
          </mat-form-field>
        </div>
        <div class="input-box">
          <mat-form-field appearance="outline">
            <mat-label>Capacidade</mat-label>
            <input
              type="number"
              matInput
              formControlName="capacity"
              maxlength="2"
            />
            <mat-icon matSuffix>license</mat-icon>
            <mat-error [errorValidators]="returnControl('capacity')">
            </mat-error>
          </mat-form-field>
        </div>
        <div class="input-box">
          <mat-form-field appearance="outline">
            <mat-label>Selecione o tipo do Veículo</mat-label>
            <mat-select disableRipple formControlName="type">
              <mat-option value="1">Carro</mat-option>
              <mat-option value="0">Moto</mat-option>
              <mat-option value="2">Van</mat-option>
            </mat-select>
            <mat-error [errorValidators]="returnControl('type')"> </mat-error>
          </mat-form-field>
        </div>
        <div class="input-box">
          <mat-form-field appearance="outline">
            <mat-label>Selecione o cor do Veículo</mat-label>
            <mat-select disableRipple formControlName="color">
              <mat-option value="red">Vermelho</mat-option>
              <mat-option value="green">Verde</mat-option>
              <mat-option value="blue">Azul</mat-option>
            </mat-select>
            <mat-error [errorValidators]="returnControl('color')"> </mat-error>
          </mat-form-field>
        </div>

        <div class="actions-form">
          <button
            class="primary-button full-width"
            type="submit"
            [disabled]="!form.valid"
            (click)="onSubmit()"
          >
            Cadastrar
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
