<div class="card showBottom" (click)="goLift()">
  <div class="status-container">
    <div class="flag-container">
      <div class="flag" [style.background-color]="colorStatus"></div>
      <p>{{ getStatus }}</p>
    </div>
    <div class="icon-top">
      <mat-icon>ads_click</mat-icon>
    </div>
  </div>

  <ng-container *ngIf="lift?.driver_id">
    <div class="locations">
      <div class="local-container">
        <p>Origem</p>
        <h2>{{ lift?.start_location?.name }}</h2>

        <div class="pin">
          <mat-icon inline="true">location_on</mat-icon>
        </div>
      </div>

      <div class="local-container">
        <p>Destino</p>
        <h2>{{ lift?.end_location?.name }}</h2>

        <div class="pin">
          <mat-icon inline="true">location_on</mat-icon>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!lift?.driver_id">
    <div class="locations-waypoints">
      <div class="item" *ngFor="let way of arrayWaypoints">
        {{ way }}
      </div>
    </div>
  </ng-container>

  <div class="divider light"></div>

  <div class="actions">
    <button
      *ngIf="!isHistory"
      (click)="goLift()"
      type="button"
      class="button-lift"
    >
      <mat-icon inline="true">visibility</mat-icon> Visualizar corrida
    </button>

    <div class="details-race">
      <button class="chip">
        <mat-icon inline="true">calendar_month</mat-icon>
        <p>{{ lift?.created_at | date : "dd/MM/yyyy" }}</p>
      </button>
    </div>
  </div>
</div>

<mat-menu #menuDriver="matMenu" xPosition="before">
  <button mat-menu-item>
    <mat-icon class="blue-primary">login</mat-icon>
    <span>Login</span>
  </button>
  <button mat-menu-item>
    <mat-icon class="blue-primary">person</mat-icon>
    <span>Cadastre-se</span>
  </button>
  <button mat-menu-item>
    <mat-icon class="blue-primary">settings</mat-icon>
    <span>Conta</span>
  </button>
  <button mat-menu-item>
    <mat-icon class="blue-primary">logout</mat-icon>
    <span>Sair</span>
  </button>
</mat-menu>
