<header>
  <div class="menu container">
    <div class="logo" [routerLink]="'/lifts'">
      <h1 [ngClass]="{ mobile: !isLargeScreen }">UFFBer</h1>
      <mat-icon *ngIf="localService.userIsDriver">directions_car</mat-icon>
      <mat-icon *ngIf="!localService.userIsDriver">person</mat-icon>
    </div>
    <div class="items-container showLeft">
      <ng-container *ngIf="isLargeScreen">
        <div class="items" *ngFor="let link of links">
          <div class="item" 
          [routerLink]="link.routerLink" routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          >
            <mat-icon>{{ link.icon }}</mat-icon>
            <span *ngIf="link.name">{{ link.name }}</span>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="!isLargeScreen">
        <button [matMenuTriggerFor]="menuMobile">
          <mat-icon>menu</mat-icon>
        </button>
      </ng-container>
      <div class="perfil">
        <div class="img-perfil">
          <img src="../assets/imgs/perfil-empty.png" />
        </div>
        <div class="detail" [matMenuTriggerFor]="menuUser">
          <mat-icon>expand_more</mat-icon>
        </div>
      </div>
    </div>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>

<mat-menu #menuUser="matMenu" xPosition="before">
  <button mat-menu-item (click)="navigate('perfil')">
    <mat-icon class="blue-primary">settings</mat-icon>
    <span>Conta</span>
  </button>
  <button
    mat-menu-item
    *ngIf="localService.userIsDriver"
    (click)="navigate('vehicle')"
  >
    <mat-icon class="blue-primary">directions_car</mat-icon>
    <span>Veículo atual</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon class="blue-primary">logout</mat-icon>
    <span>Sair</span>
  </button>
</mat-menu>

<mat-menu #menuMobile="matMenu" xPosition="before">
  <div class="items-menu-mobile" *ngFor="let link of links">
    <button mat-menu-item class="item" [routerLink]="link.routerLink">
      <mat-icon class="blue-primary">{{ link.icon }}</mat-icon>
      <span *ngIf="link.name">{{ link.name }}</span>
    </button>
  </div>
</mat-menu>
