<section>
  <div class="container showUp">
    <h1 *ngIf="!localService.userIsDriver">Insira seus pontos de parada</h1>
    <h1 *ngIf="localService.userIsDriver">Insira seus pontos de origem e destino</h1>
  </div>

  <div class="container-search showBottom">
    <div class="search-container">
      <form [formGroup]="form" class="inputs-container">
        <div class="autocomplet-fields">
          <div class="input">
            <app-place-autocomplete
              [label]="'Saindo de'"
              [control]="getControl('origin')"
            ></app-place-autocomplete>
          </div>
          <div class="input">
            <app-place-autocomplete
              [label]="'Indo para'"
              [control]="getControl('destination')"
            ></app-place-autocomplete>
          </div>
          <div class="search">
            <button (click)="add()" [disabled]="createDisabled">
              Adicionar
              <mat-icon *ngIf="!isMobile">add</mat-icon>
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="maps">
      <ng-container *ngIf="!driverEmpty">
        <app-map-display
          [from]="liftDetail.start_location"
          [to]="liftDetail.end_location"
          [waypointsInput]="waypoints"
        ></app-map-display>
      </ng-container>
      <ng-container *ngIf="driverEmpty">
        <app-map-display
          [from]="form.value.origin"
          [to]="form.value.destination"
          [waypointsInput]="waypoints"
        ></app-map-display>
      </ng-container>
    </div>
  </div>

  <div class="actions">
    <button (click)="close()" class="outlined-button" color="primary">
      Fechar
    </button>
  </div>
</section>
