<section class="container content showUp">
  <div class="perfil-content">
    <div class="perfil-img">
      <mat-icon>person</mat-icon>
      <h1>Seus dados</h1>
    </div>

    <div class="perfil-content-list">
      <div class="perfil-item">
        <p><b>Nome:</b> {{ perfil?.user?.name }}</p>
      </div>
      <div class="perfil-item">
        <p><b>IdUFF:</b> {{ perfil?.user?.iduff }}</p>
      </div>
      <div class="perfil-item" *ngIf="local.userIsDriver">
        <p><b>CNH:</b> {{ perfil?.driver?.cnh }}</p>
      </div>
      <div class="perfil-item avaliation">
        <p><b>Avaliação geral:</b></p>
        <div class="detail">
          <div class="avaliation">
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
          </div>
        </div>
      </div>

      <div class="other-data">
        <div class="item">
          <p>Colaborador desde:</p>
          <p>{{ perfil?.user?.created_at | date : "dd/MM/yyyy" }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
