<section class="container content">
  <h1 class="showUp">Carona</h1>

  <div class="maps-location-container">
    <div class="locations showBottom">
      <div class="local-container">
        <div class="pin">
          <p>Origem</p>
          <mat-icon>location_on</mat-icon>
        </div>

        <div class="local">{{ lift?.start_location?.name }}</div>
      </div>

      <div class="direction">
        <button>
          <mat-icon>arrow_downward</mat-icon>
        </button>
      </div>

      <div class="local-container">
        <div class="pin">
          <p>Destino</p>
          <mat-icon>location_on</mat-icon>
        </div>

        <div class="local">{{ lift?.end_location?.name }}</div>
      </div>
    </div>

    <div class="maps showUp" *ngIf="lift">
      <app-map-display [from]="lift.start_location" [to]="lift.end_location" [waypointsInput]="[]" (loading)="isLoading = $event"></app-map-display>
    </div>
  </div>
</section>