<section class="container content">
  <div class="title-route-container">
    <div class="title-route">
      <mat-icon
        matTooltip="Voltar"
        [matTooltipPosition]="'above'"
        (click)="goBack()"
        >arrow_back</mat-icon
      >
      <h1 class="showUp">Carona</h1>
    </div>
    <div class="flag-container">
      <div class="flag" [style.background-color]="colorStatus"></div>
      <p>{{ getStatus }}</p>
    </div>
  </div>

  <div class="maps-location-container">
    <ng-container *ngIf="liftDetail?.driver_id">
      <div class="locations showBottom">
        <div class="local-container">
          <div class="pin">
            <p>Origem</p>
            <mat-icon>location_on</mat-icon>
          </div>

          <div class="local">{{ liftDetail.start_location.name }}</div>
        </div>

        <div class="direction">
          <button>
            <mat-icon>arrow_downward</mat-icon>
          </button>
        </div>

        <div class="local-container">
          <div class="pin">
            <p>Destino</p>
            <mat-icon>location_on</mat-icon>
          </div>

          <div class="local">{{ liftDetail.end_location.name }}</div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="!liftDetail?.driver_id">
      <div class="title-no-driver">
        <h1>Não há motorista para esta carona no momento</h1>

        <div>
          <button class="primary-button" (click)="addWaypoint()">
            Quero entrar nesta carona
          </button>
        </div>
      </div>
    </ng-container>

    <div class="maps showUp" *ngIf="liftDetail">
      <app-map-display
        [from]="liftDetail.start_location"
        [to]="liftDetail.end_location"
        [waypointsInput]="waypoints"
        (routeChange)="routeChange($event)"
      ></app-map-display>
    </div>
  </div>

  <div class="adicionar-pontos" *ngIf="durationLift.length > 0">
    <ng-container *ngIf="!isHistory">
      <button
        *ngIf="!localService.userIsDriver"
        class="primary-button showLeft"
        (click)="addWaypoint()"
      >
        Quero participar da carona
      </button>
    </ng-container>

    <div class="details-container showLeft">
      <div class="detail" *ngIf="!localService.userIsDriver">
        <mat-icon inline="true">group</mat-icon>
        <p>{{ getPassengers }}</p>
      </div>
      <div class="detail" *ngIf="durationLift.length > 0">
        <mat-icon inline="true">timer</mat-icon>
        <p>{{ durationLift }}</p>
      </div>
    </div>
  </div>
</section>
