@keyframes showUp {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.showUp {
  animation: showUp 0.3s forwards;
}

.showUpDelay {
  animation: showUp 0.6s forwards;
}

@keyframes showBottom {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.showBottom {
  animation: showBottom 0.3s forwards;
}

.showBottomDelay {
  animation: showBottom 0.6s forwards;
}

@keyframes showRight {
  0% {
    opacity: 0;
    transform: translateX(-25px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.showRight {
  animation: showRight 0.3s forwards;
}

.showRightDelay {
  animation: showRight 0.6s forwards;
}

@keyframes showLeft {
  0% {
    opacity: 0;
    transform: translateX(25px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.showLeft {
  animation: showLeft 0.3s forwards;
}

.showLeftDelay {
  animation: showLeft 0.6s forwards;
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.slideLeft {
  animation: slideLeft 0.2s forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade {
  animation: fade 0.2s forwards;
}
