// :root {
//   --primary-color: #21293a;
//   --secondary-color: #fafafa;
//   --secondary-color-transparent: #a0beff77;
//   --tertiary-color: #343c58;
//   --tertiary-color-dark: #2c334b;
//   --tertiary-color-light: #4f5a83;
//   --bg-color: #1c1e27;
//   --bg-color-dark: #15161d;
//   --blue-primary-color: #6758f2;
//   --blue-primary-color-text-light: #8172ff;
//   --blue-primary-color-light: #0015fc;
//   --blue-secondary-color: #292e66;
//   --red-primary-color: rgb(252, 77, 77);
//   --red-secondary-color: rgb(104, 39, 39);
//   --green-primary-color: rgb(66, 233, 16);
//   --green-secondary-color: rgb(28, 107, 4);
//   --bar-bg: #60636b;
// }

:root  {
  --primary-color: #ffffff;
  --secondary-color: #2e5a39;
  --secondary-color-transparent: #58f2798f;
  --tertiary-color: #eaf9ff;
  --tertiary-color-dark: #c0c8df;
  --tertiary-color-light: #f4fcff;
  --bg-color: #f7f9fc;
  --bg-color-dark: #c5e4f0;
  --bg-color-dark-2: rgb(150, 209, 233);
  --blue-primary-color: #00aff5;
  --blue-primary-color-dark: #00384e;
  --blue-primary-color-dark-light: #005272;
  --blue-primary-color-light: #62d3ff;
  --blue-secondary-color: #96e1ff;
  --red-primary-color: rgb(252, 77, 77);
  --red-secondary-color: rgb(104, 39, 39);
  --green-primary-color: rgb(66, 233, 16);
  --green-secondary-color: rgb(28, 107, 4);
  --bar-bg: #c3cff1;
  --shadow: 0px 3px 15px 0px rgba(10,16,74,0.13) !important;
}
